<center><h1>Welcome to FaceLook</h1>
<% if user_signed_in? %>
	<h1>Hi, <%= current_user.username %></h1>
	 <%= link_to 'Edit Profile', edit_user_registration_path, class: "button radius"  %>

<center><%= image_tag current_user.avatar.url %></center>



<% else %>
	<p><img src = "http://i.indiaglitz.com/tamil/news/santhanam17613_m1.jpg"></p>
<% end %>
